.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 10px 0 10px 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.current-gain {
  display: flex;
}

.current-gain p {
  margin-left: 20px;
}

.current-gain .green {
  color: #16d316;
}

.current-gain .red {
  color: #ff0000;
}

.portfolio-history-el {
  margin-left: 15px;
}
