.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.current-gain {
  display: flex;
}

.current-gain p {
  margin-left: 20px;
}

.portfolio-history-el {
  margin-left: 15px;
}

.chart-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.password-input {
  background-color: transparent;
  border: none;
  cursor: default;
}

.button-default {
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
